In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
location = 'E:\python4\lianjiaershoufang\lianjiabj.csv'

In [4]:
df = pd.read_csv(location)

In [5]:
df.head()

,标题,面积,楼型,建筑年份,挂牌时间,上次交易,地区,区域,小区,单价,总价,户型,楼层,总楼层,关注人数,带看,朝向,装修
0,北京西城月坛99年南北通透大两居，双阳台，采光无遮挡,77.70,板楼,1999年,2018-08-21,2013-09-09,西城,月坛,月坛北街25号院,126127.0,980.0,2室1厅,底层,6,9390,37,南 北,精装
1,靠近地铁8号线，小区中间位置，中间楼层，已经满五年,124.08,板楼,2006年,2018-10-31,2006-10-17,昌平,回龙观,和谐家园一区,43521.0,540.0,3室2厅,低楼层,6,1942,72,南 北,简装
2,太阳宫 南北大三居 高层安静看花园 免征个税 有钥匙,148.66,板楼,2003年,2018-06-22,2009-08-31,朝阳,三元桥,UHN国际村,86103.0,1280.0,3室2厅,顶层,28,2104,37,南 北,精装
3,新龙城 南北通透三居室 中高楼层 精装空闲,113.19,板塔结合,2007年,2018-09-26,2011-01-30,昌平,回龙观,新龙城,52920.0,599.0,3室1厅,中楼层,20,17605,39,南 北,精装
4,朝阳区东坝金隅景和园南向精装修两居室,87.00,板楼,2011年,2018-06-24,2012-09-25,朝阳,东坝,金隅景和园,48046.0,418.0,2室1厅,低楼层,21,203,56,南,精装

In [7]:
#查看挂牌时间列的前5行数据
df['挂牌时间'].head()

0    2018-08-21
1    2018-10-31
2    2018-06-22
3    2018-09-26
4    2018-06-24
Name: 挂牌时间, dtype: object

In [12]:
#查看每个小区房源总数
df.groupby('小区').size()

小区
CBD传奇         1
CLASS         1
DBC加州小镇       1
DBC加州小镇C区     1
SOHO现代城       1
UHN国际村        4
gogo新世代       1
一幅画卷          1
七贤村           1
万寿路甲15号院五区    1
万寿路西街12号院     1
万年花城三期        2
万年花城二期        8
万年花城五期        1
万年花城四期        3
万年花城回迁        1
万恒家园          1
万泉新新家园        1
万科中粮假日风景      1
万科四季花城        1
万科城市花园        5
万科星园          5
万科紫苑          4
万科青青家园        2
万象新天二区        2
万象新天四区        2
三义东里          3
三嘉信苑          1
三庙街           1
三环新城6号院       1
             ..
黄平路8号院        1
黑山东街          1
鼎立水岸家园        1
龙乡中区          1
龙兴园北区         1
龙华园           7
龙博苑一区         1
龙博苑三区         3
龙博苑二区         3
龙回苑           1
龙城花园S区        1
龙旗广场          1
龙欣苑小区         1
龙泽苑东区         2
龙泽苑西区         5
龙湖蔚澜香醍        1
龙禧苑一区         2
龙翔路小区         2
龙腾苑二区         1
龙腾苑六区         2
龙腾苑四区         1
龙跃苑一区         1
龙跃苑三区         1
龙跃苑东二区        1
龙跃苑东四区        1
龙锦苑东一区        1
龙锦苑东二区        2
龙锦苑五区         1
龙锦苑六区         2
龙锦苑四区         1
Length: 1001, dtype: int64

In [24]:
#挂牌时间排在前五
df.loc[df['挂牌时间'].sort_values().head().index]

,标题,面积,楼型,建筑年份,挂牌时间,上次交易,地区,区域,小区,单价,总价,户型,楼层,总楼层,关注人数,带看,朝向,装修
811,角门东里两居，格局好，楼层好，业主诚心卖,62.65,塔楼,1995年,2016-08-17,2009-04-02,丰台,角门,角门东里,60655.0,380.0,2室1厅,高楼层,19,7491,22,东南,精装
1460,方华苑 东向一居室 带阳台 满五年 随时看,64.38,塔楼,1998年,2016-08-24,2011-05-04,朝阳,华威桥,方华苑,57472.0,370.0,1室1厅,低楼层,22,814,4,东,简装
979,世纪东方城 3室2厅 810万,133.87,塔楼,2004年,2016-09-21,2006-04-06,朝阳,欢乐谷,世纪东方城,60507.0,810.0,3室2厅,高楼层,21,136,3,东南,精装
585,南三环 草桥玺萌鹏苑 西南向三居室,137.52,塔楼,2003年,2016-11-04,2004-11-15,丰台,草桥,玺萌丽苑,55992.0,770.0,3室1厅,底层,24,431,6,西南,简装
1461,北纬南向一层复式小2居 满五唯一 业主诚售！,83.83,板塔结合,2008年,2016-12-25,2010-05-11,朝阳,望京,北纬40度一期,71455.0,599.0,2室1厅,底层,29,398,29,南,简装

In [35]:
#按照地区进行分组
df.groupby('地区').groups

{'东城': Int64Index([  11,   63,   89,   92,  128,  144,  173,  179,  184,  275,  281,
              287,  297,  327,  331,  400,  456,  495,  549,  606,  676,  732,
              857,  865, 1104, 1117, 1136, 1145, 1179, 1217, 1268, 1395, 1407,
             1419, 1442, 1464, 1469, 1477],
            dtype='int64'),
 '丰台': Int64Index([   5,   13,   15,   19,   27,   37,   38,   41,   44,   50,
             ...
             1417, 1429, 1440, 1451, 1452, 1457, 1463, 1468, 1489, 1494],
            dtype='int64', length=288),
 '亦庄开发区': Int64Index([101, 627, 691, 729, 731, 775, 848, 877, 983, 1379], dtype='int64'),
 '大兴': Int64Index([  30,   59,   60,   61,   70,   78,   98,  147,  149,  155,  208,
              212,  228,  235,  242,  251,  276,  279,  386,  397,  408,  410,
              430,  442,  481,  500,  506,  509,  512,  527,  534,  538,  547,
              590,  602,  618,  629,  631,  633,  636,  650,  653,  670,  688,
              761,  804,  805,  808,  828,  853,  870,  882,  886,  929,  934,
              939,  955,  973,  980,  984,  996,  998, 1002, 1003, 1019, 1025,
             1031, 1062, 1070, 1084, 1090, 1096, 1098, 1106, 1113, 1171, 1221,
             1291, 1299, 1301, 1320, 1345, 1368, 1387, 1409, 1459, 1483],
            dtype='int64'),
 '房山': Int64Index([  23,   24,  106,  122,  151,  186,  246,  250,  282,  307,  321,
              439,  443,  469,  486,  566,  595,  608,  614,  621,  685,  693,
              792,  842,  854,  858,  867,  896,  987,  988, 1021, 1024, 1034,
             1039, 1048, 1063, 1065, 1085, 1101, 1142, 1170, 1208, 1344, 1356,
             1362, 1371, 1373, 1385, 1386, 1392, 1484],
            dtype='int64'),
 '昌平': Int64Index([   1,    3,    9,   14,   16,   21,   33,   35,   40,   47,
             ...
             1447, 1448, 1449, 1475, 1479, 1480, 1485, 1492, 1493, 1497],
            dtype='int64', length=173),
 '朝阳': Int64Index([   2,    4,    7,    8,   17,   18,   20,   22,   25,   26,
             ...
             1474, 1476, 1478, 1481, 1482, 1487, 1488, 1490, 1491, 1496],
            dtype='int64', length=459),
 '海淀': Int64Index([   6,   10,   12,   28,   39,   43,   46,   80,   88,   96,
             ...
             1414, 1418, 1422, 1427, 1428, 1433, 1441, 1465, 1467, 1472],
            dtype='int64', length=147),
 '石景山': Int64Index([ 165,  183,  361,  363,  406,  429,  467,  537,  587,  651,  687,
              692,  698,  722,  733,  739,  755,  839,  851,  899,  952,  954,
             1006, 1008, 1011, 1071, 1081, 1083, 1130, 1188, 1234, 1238, 1248,
             1255, 1264, 1421, 1431, 1434, 1435],
            dtype='int64'),
 '西城': Int64Index([   0,   34,   67,   71,  100,  107,  120,  135,  141,  160,  163,
              171,  241,  243,  249,  296,  316,  324,  326,  338,  342,  343,
              352,  372,  395,  399,  440,  508,  517,  544,  558,  563,  575,
              589,  611,  623,  624,  635,  641,  660,  662,  672,  675,  721,
              728,  738,  744,  756,  763,  764,  785,  812,  825,  826,  840,
              873,  892,  909,  926,  933,  999, 1000, 1102, 1107, 1138, 1153,
             1168, 1214, 1215, 1256, 1292, 1293, 1323, 1352, 1355, 1394, 1436,
             1495, 1499],
            dtype='int64'),
 '通州': Int64Index([  93,   99,  116,  137,  143,  181,  204,  205,  285,  292,  293,
              299,  300,  367,  371,  374,  405,  425,  433,  446,  449,  493,
              514,  525,  582,  596,  617,  622,  630,  648,  678,  695,  713,
              751,  834,  859,  894,  928,  930,  945,  951,  997, 1014, 1066,
             1072, 1088, 1089, 1092, 1149, 1150, 1184, 1229, 1265, 1296, 1318,
             1333, 1377, 1384, 1408, 1412, 1424, 1425, 1437, 1470, 1486, 1498],
            dtype='int64'),
 '门头沟': Int64Index([ 102,  146,  153,  265,  294,  306,  529,  532,  646,  749,  768,
              790,  791,  895, 1044, 1114, 1143, 1169, 1194, 1201, 1202, 1203,
             1205, 1302, 1303, 1358, 1456],
            dtype='int64'),
 '顺义': Int64Index([ 159,  288,  303,  314,  325,  391,  414,  428,  438,  463,  471,
              474,  571,  656,  798,  938,  963,  994, 1030, 1058, 1251, 1253,
             1254, 1272, 1273, 1314, 1324, 1327, 1329, 1335, 1341, 1369, 1376,
             1390, 1398, 1420],
            dtype='int64')}

In [32]:
#按照地区进行分组
df.groupby('地区')['标题'].size()

地区
东城        38
丰台       288
亦庄开发区     10
大兴        87
房山        51
昌平       173
朝阳       459
海淀       147
石景山       39
西城        79
通州        66
门头沟       27
顺义        36
Name: 标题, dtype: int64