# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries 导入必要的库

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address]  (https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).  从这个地址导入数据集

### Step 3. Assign it to a variable called chipo. 将它分配给一个名为chipo的变量

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep = '\t')

### Step 4. See the first 10 entries 参见前10个条目

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset? 数据集中的观察值是多少?

In [4]:
# Solution 1
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

In [5]:
# Solution 2
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset? 数据集中的列数是多少?

In [6]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns. 打印所有列的名称

In [7]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed? 如何索引数据集?

In [8]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?  订购最多的商品是什么?

In [9]:
c = chipo.groupby('item_name').sum()
c = c.sort_values('quantity',ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered? 对于订购最多的项目，订购了多少项目?

### Step 11. What was the most ordered item in the choice_description column? choice_description列中最有序的项目是什么?

In [10]:
c = chipo.groupby('choice_description').sum()
c = c.sort_values('quantity')
c.tail()

                                                    order_id  quantity
choice_description
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     36041        42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     43088        49
[Sprite]                                               80426        89
[Coke]                                                122752       143
[Diet Coke]                                           123455       159

### Step 12. How many items were orderd in total? 总共订购了多少件?

          order_id
quantity
1          4032682
2           205258
3            29105
4            11652
5              970
7             1443
8             1559
10            1660
15            1443

### Step 13. Turn the item price into a float 将项目价格转换为浮动

#### Step 13.a. Check the item price type 检查项目价格类型

#### Step 13.b. Create a lambda function and change the type of item price 创建lambda函数并更改项目价格的类型

#### Step 13.c. Check the item price type 检查项目价格类型

### Step 14. How much was the revenue for the period in the dataset? 数据集中这一时期的收入是多少?

### Step 15. How many orders were made in the period? 这段时间下了多少订单?

### Step 16. What is the average revenue amount per order? 每笔订单的平均收入是多少?

In [11]:
# Solution 1

In [12]:
# Solution 2

### Step 17. How many different items are sold? 有多少种不同的商品出售?