# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [21]:
chipo.loc[298]

order_id                            129
quantity                              1
item_name             6 Pack Soft Drink
choice_description             [Sprite]
item_price                         6.49
Name: 298, dtype: object

In [24]:
chipo.loc[3389]

order_id                           1360
quantity                              2
item_name             6 Pack Soft Drink
choice_description          [Diet Coke]
item_price                        12.98
Name: 3389, dtype: object

### Step 4. How many products cost more than $10.00? ：有多少产品价格超过10美元?

In [3]:
#获取价格那一列并将它变成列表
prices= [float(value[1:-1]) for value in chipo.item_price]
#给chipo重新赋值
chipo.item_price = prices

In [4]:
#去除其中重复的 quantity 购买数量 item_name商品名称
chipo_drop = chipo.drop_duplicates(['quantity','item_name'])

In [11]:
#只取购买数是1的商品
chipo_drop_one = chipo_drop[chipo_drop.quantity ==1]

In [15]:
chipo_drop_one[chipo_drop_one['item_price']>10].item_name.nunique()

12

In [5]:
# a = 0
# for i in chipo.item_price:
#     if a ==0:
#         print(i)
#         print(float(i[1:-1]))
#     a+=1

### Step 5. What is the price of each item?  每件商品的价格是多少
###### print a data frame with only two columns item_name and item_price 
打印一个只有两列item_name和item_price的数据框架

### Step 6. Sort by the name of the item 按项目名称排序

In [25]:
chipo.item_name.sort_values()

3389    6 Pack Soft Drink
341     6 Pack Soft Drink
1849    6 Pack Soft Drink
1860    6 Pack Soft Drink
2713    6 Pack Soft Drink
3422    6 Pack Soft Drink
553     6 Pack Soft Drink
1916    6 Pack Soft Drink
1922    6 Pack Soft Drink
1937    6 Pack Soft Drink
3836    6 Pack Soft Drink
298     6 Pack Soft Drink
1976    6 Pack Soft Drink
1167    6 Pack Soft Drink
3875    6 Pack Soft Drink
1124    6 Pack Soft Drink
3886    6 Pack Soft Drink
2108    6 Pack Soft Drink
3010    6 Pack Soft Drink
4535    6 Pack Soft Drink
4169    6 Pack Soft Drink
4174    6 Pack Soft Drink
4527    6 Pack Soft Drink
4522    6 Pack Soft Drink
3806    6 Pack Soft Drink
2389    6 Pack Soft Drink
3132    6 Pack Soft Drink
3141    6 Pack Soft Drink
639     6 Pack Soft Drink
1026    6 Pack Soft Drink
              ...
2996         Veggie Salad
3163         Veggie Salad
4084         Veggie Salad
1694         Veggie Salad
2756         Veggie Salad
4201    Veggie Salad Bowl
1884    Veggie Salad Bowl
455     Veggie Salad Bowl
3223    Veggie Salad Bowl
2223    Veggie Salad Bowl
2269    Veggie Salad Bowl
4541    Veggie Salad Bowl
3293    Veggie Salad Bowl
186     Veggie Salad Bowl
960     Veggie Salad Bowl
1316    Veggie Salad Bowl
2156    Veggie Salad Bowl
4261    Veggie Salad Bowl
295     Veggie Salad Bowl
4573    Veggie Salad Bowl
2683    Veggie Salad Bowl
496     Veggie Salad Bowl
4109    Veggie Salad Bowl
738     Veggie Soft Tacos
3889    Veggie Soft Tacos
2384    Veggie Soft Tacos
781     Veggie Soft Tacos
2851    Veggie Soft Tacos
1699    Veggie Soft Tacos
1395    Veggie Soft Tacos
Name: item_name, Length: 4622, dtype: object

### Step 7. What was the quantity of the most expensive item ordered? 订购的最贵的商品数量是多少?

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [26]:
len(chipo[chipo.item_name=='Veggie Salad Bowl'])

18

### Step 9. How many times people orderd more than one Canned Soda?

In [27]:
len(chipo[(chipo.item_name =='Canned Soda')&(chipo.quantity>1)])

20