In [115]:
import numpy as np,pandas as pd

In [116]:
dates = pd.date_range('20130101',periods = 6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [117]:
df = pd.DataFrame(np.random.randint(10,20,(6,4)),index = dates,columns = list('ABCD'))
df

             A   B   C   D
2013-01-01  10  17  10  15
2013-01-02  12  15  16  16
2013-01-03  14  16  10  15
2013-01-04  14  14  16  12
2013-01-05  15  11  15  19
2013-01-06  19  13  18  17

# 索引

### 索引列

###### 直接索引列不可以进行切片

In [118]:
df['A']  #df索引某一列可以直接用中括号索引字符串列名

2013-01-01    10
2013-01-02    12
2013-01-03    14
2013-01-04    14
2013-01-05    15
2013-01-06    19
Freq: D, Name: A, dtype: int32

In [119]:
df.A  #也可以直接用点的方式索引列名字

2013-01-01    10
2013-01-02    12
2013-01-03    14
2013-01-04    14
2013-01-05    15
2013-01-06    19
Freq: D, Name: A, dtype: int32

### 索引行

###### 直接索引行只能切片

In [120]:
df[0:3]  #用传统切片的方式默认切片行数  从0开始包括开头不包括结尾

             A   B   C   D
2013-01-01  10  17  10  15
2013-01-02  12  15  16  16
2013-01-03  14  16  10  15

In [121]:
df['20130101':'20130104']  #索引行名称  包括开头包括结尾

             A   B   C   D
2013-01-01  10  17  10  15
2013-01-02  12  15  16  16
2013-01-03  14  16  10  15
2013-01-04  14  14  16  12

### loc

#### 按标签名称索引

##### 索引时前面必须写行切片，后面时列索引，后面可以不写列索引，默认所有列

In [122]:
df.loc['20130101':'20130104':,['A','B']]  
#行列同时索引时，行索引可以切片，列索引不能切片

             A   B
2013-01-01  10  17
2013-01-02  12  15
2013-01-03  14  16
2013-01-04  14  14

In [123]:
df.loc[:,['A','C']]
#前面不写行，默认表示所有行

             A   C
2013-01-01  10  10
2013-01-02  12  16
2013-01-03  14  10
2013-01-04  14  16
2013-01-05  15  15
2013-01-06  19  18

In [124]:
df.loc[:,'A']
#如果只索引一列的话可以不写中括号，返回一个Series 写括号则返回一个DataFrame

2013-01-01    10
2013-01-02    12
2013-01-03    14
2013-01-04    14
2013-01-05    15
2013-01-06    19
Freq: D, Name: A, dtype: int32

### iloc

#### 按索引索引

In [125]:
df.iloc[0:3,1:3]
#前面一对切片表示行切片，后面一对切片表示列切片，切片包括开头不包括结尾

             B   C
2013-01-01  17  10
2013-01-02  15  16
2013-01-03  16  10

In [126]:
df.iloc[1:3,2]
#行列两者中如果有一个是索引而不是切片则返回一个Series

2013-01-02    16
2013-01-03    10
Freq: D, Name: C, dtype: int32

In [130]:
df.iloc[[1,3],[3]]
#如果其中一个，只选中一个，且选中的一个没有加中括号则返回一个Series，如果加中括号，则返回一个DataFrame

             D
2013-01-02  16
2013-01-04  12

In [127]:
df.iloc[[1,3,2],[2,2,1]]
#如果不是切片而是直接选中某行/列则需要加中括号，返回一个DataFrame

             C   C   B
2013-01-02  16  16  15
2013-01-04  16  16  14
2013-01-03  10  10  16