# 英里/加仑的汽车

In [1]:
import pandas as pd
import numpy as np

In [2]:
cars1 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")
cars2 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")

print(cars1.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0       1  chevrolet chevelle malibu         NaN          NaN          NaN
1       1          buick skylark 320         NaN          NaN          NaN
2       1         plymouth satellite         NaN          NaN          NaN
3       1              amc rebel sst         NaN          NaN          NaN
4       1                ford torino         NaN          NaN          NaN

   Unnamed: 12  Unnamed: 13
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN

In [3]:
print(cars2.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  33.0          4            91         53    1795          17.4     76
1  20.0          6           225        100    3651          17.7     76
2  18.0          6           250         78    3574          21.0     76
3  18.5          6           250        110    3645          16.2     76
4  17.5          6           258         95    3193          17.8     76

   origin                 car
0       3         honda civic
1       1      dodge aspen se
2       1   ford granada ghia
3       1  pontiac ventura sj
4       1       amc pacer d/l

## 看起来我们的第一个数据集有一些未命名的空白列，fix cars1

In [4]:
cars1 = cars1.loc[:, "mpg":"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

In [5]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

## 将cars1和cars2连接到一个名为cars的数据框架中

In [6]:
cars = cars1.append(cars2)
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

In [7]:
cars.shape

(398, 9)

### 操作中缺少一个列，称为所有者。创建一个从15,000到73,000的随机数序列

In [8]:
nr_owners = np.random.randint(15000, high=73001, size=398, dtype='l')
nr_owners

array([36082, 30048, 62867, 65915, 71955, 39456, 48450, 69987, 70074,
       37281, 54099, 18864, 58478, 27739, 18647, 67888, 39486, 65438,
       28415, 47489, 50869, 49504, 54560, 30522, 64160, 30120, 65533,
       45848, 34939, 66401, 55228, 27014, 58443, 21984, 60097, 35110,
       42707, 42711, 53000, 72712, 63872, 21925, 58593, 35172, 46810,
       33898, 25129, 50134, 43954, 26896, 61904, 57868, 46164, 54698,
       40286, 63804, 61789, 49602, 56688, 47484, 38999, 17066, 19211,
       32589, 56062, 48587, 69570, 67883, 53121, 25560, 29820, 18458,
       70332, 42016, 61871, 38946, 22101, 23599, 22347, 68534, 60615,
       17080, 23945, 24423, 51993, 17021, 64988, 30049, 65461, 16190,
       66011, 43069, 52123, 48754, 49673, 46907, 61047, 25084, 54805,
       62871, 24151, 24129, 61817, 27224, 60990, 68938, 16629, 58001,
       38229, 43505, 42429, 56497, 23534, 27879, 15895, 39563, 30611,
       37954, 47391, 48755, 67440, 61801, 42803, 39407, 18286, 46912,
       45887, 63152, 25570, 26367, 67898, 34810, 52774, 64286, 55362,
       72888, 59453, 17906, 53254, 67061, 32817, 20271, 28439, 47798,
       34056, 43579, 19035, 31668, 15494, 17528, 23303, 38083, 71174,
       40889, 28027, 23985, 38620, 46476, 24502, 22764, 32471, 30776,
       59695, 25751, 34493, 48316, 46723, 52401, 40229, 36190, 72514,
       63737, 29002, 42763, 64864, 15565, 41307, 61851, 26441, 33211,
       28083, 16588, 56239, 63348, 26015, 49108, 43305, 71986, 44188,
       21187, 39555, 20127, 34170, 19126, 70994, 57138, 45814, 38924,
       20731, 63919, 26017, 26523, 26069, 54893, 54287, 52076, 29781,
       27643, 19018, 55961, 68107, 19551, 44783, 49185, 43493, 43850,
       60737, 34216, 17319, 53108, 68939, 21948, 64779, 49194, 32789,
       17176, 62821, 56234, 20852, 15171, 71400, 35127, 26308, 28411,
       47775, 67677, 26401, 39921, 15525, 70748, 64155, 27555, 60501,
       56814, 33219, 50592, 61628, 34322, 70212, 56823, 61423, 47084,
       66000, 38872, 68588, 20732, 38046, 28752, 23979, 24631, 59657,
       62660, 27200, 55390, 52209, 33807, 19066, 61219, 46774, 40266,
       48124, 71687, 40936, 68454, 54256, 56942, 22952, 66362, 41016,
       23948, 38794, 68279, 22454, 27243, 36791, 27383, 57228, 35792,
       60383, 55922, 36272, 45412, 22808, 21075, 33019, 28592, 33413,
       18308, 36842, 52449, 15407, 19091, 56751, 20181, 39217, 44383,
       50267, 30253, 18180, 30624, 69633, 46195, 19058, 32052, 58022,
       38208, 35770, 55767, 47990, 60783, 17966, 65406, 63443, 40509,
       51313, 47707, 61160, 36912, 69545, 53238, 68295, 38831, 66138,
       49839, 37973, 35215, 53999, 40975, 54605, 55418, 58738, 24237,
       46168, 71320, 17797, 65940, 43590, 18679, 62696, 18236, 49879,
       66946, 22397, 55424, 27831, 47304, 33748, 34482, 41450, 63506,
       26857, 17272, 65496, 15000, 48918, 57800, 61639, 66520, 70487,
       64738, 52192, 66032, 58878, 26862, 72604, 72465, 67038, 65341,
       68678, 34724, 55671, 51662, 67751, 18442, 50278, 46263, 20239,
       69978, 58387, 43386, 40737, 38372, 51509, 20342, 56268, 29461,
       18384, 70169])

## 将列owner添加到汽车

In [9]:
cars['owners'] = nr_owners
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,20342
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,56268
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,29461
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,18384
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,70169